<div class="container-fluid">
  <div class="row container-row-height">
    <div class="col-lg-6 shadow" id="carousel">
      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000">
            <img src="../../../../assets/images/sign_in_page_Slider.svg" class="d-block w-100 mb-5" alt="..." />
            <div class="carousel-caption d-none d-md-block">
              <h5>Verification through hash with zero charges</h5>
              <p>
                Direct revenue channel through payment link Instant verification
                with real-time results
              </p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="../../../../assets/images/sign_in_page_Slider1.svg" class="d-block w-100 mb-5" alt="..." />
            <div class="carousel-caption d-none d-md-block">
              <h5>
                Documents cannot be tampered with as their hashes are stored on
                blockchain
              </h5>
              <p>Built on Blockchain Technology Fetches you quick results</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-lg-6 row align-items-center justify-content-center">
      <div class="col-xs-12 col-md-8 col-md-offset-3 h-75">
        <img src="../../../../assets/icons/certCheckLogoupdate.svg" class="img-fluid mb-3" alt="certCheckLogo" />
        <form class="form" [formGroup]="registerForm" (ngSubmit)="registerForm.valid && onSubmit(registerForm)">
          <p class="fs-2 fw-bolder">Register</p>
          <p class="fs-6 mb-2">Enter your information below</p>
          <div class="form-floating mb-1">
            <input type="text" class="form-control" id="floatingName" placeholder="Your name" formControlName="name" />
            <label for="floatingName" class="form-label">Name</label>
            <div *ngIf="getControl('name')?.touched && getControl('name')?.errors?.['required']" class="text-danger">
              This field is required
            </div>
          </div>
          <div class="form-floating mb-1">
            <input type="email" #emailInput class="form-control" id="floatingInput" placeholder="name@example.com"
              formControlName="email" (blur)="emailVeri(emailInput.value)" />
            <label for="floatingInput" class="form-label">Email address</label>
            <span *ngIf="getControl('email')?.touched && getControl('email')?.errors?.['required']"
              class="text-danger">This field is required</span>
            <div *ngIf="getControl('email')?.errors?.['pattern']" class="text-danger">
              Enter a valid email
            </div>
          </div>
          <div *ngIf="otpSent">
            <div *ngIf="!resendOtp">
              <a href="javascript:void(0)" (click)="resendOTP()">Resend Code</a>
            </div>
            <div *ngIf="otpSent">
              <p>Resend OTP in: {{ countdownMinutes }}:{{ countdownSeconds }}</p>
            </div>
          </div>
          <div class="form-floating mb-1" *ngIf="otpSent">
            <input type="text" #code class="form-control" id="floatingInput" placeholder="268934" (blur)="ValidateCode(code.value)"/>
            <label for="floatingInput" class="form-label">Enter Verification Code</label>
            <div *ngIf="getControl('number')?.errors?.['pattern']" class="text-danger">
              Enter a valid Code
            </div>
            <i class="green-tick-icon" *ngIf="codeValidated"></i>
          </div>

          <div class="form-floating mb-1">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
              formControlName="password" minlength="4" [ngClass]="'error'" pattern="" />
            <label for="floatingPassword" class="form-label">Password</label>
            <span *ngIf="getControl('password')?.touched && getControl('password')?.errors?.['required']"
              class="text-danger">This field is required</span>
            <div *ngIf="getControl('password')?.errors?.['pattern']" class="text-danger">
              Password must contain at least one number and one uppercase and
              lowercase letter, and at least 8 or more characters
            </div>
          </div>
          <div class="form-floating mb-1">
            <input type="password" class="form-control" id="floatingConfirmPassword" placeholder="Confirm Password"
              formControlName="confirmPassword" />
            <label for="floatingConfirmPassword" class="form-label">Confirm Password</label>
            <div *ngIf="getControl('confirmPassword')?.touched && getControl('confirmPassword')?.errors?.['required']"
              class="text-danger">
              This field is required
            </div>

            <div *ngIf="
                getControl('confirmPassword')?.value &&
                getControl('password')?.value !==
                  getControl('confirmPassword')?.value
              " class="text-danger">
              The Passwords do not match.
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingPhone" formControlName="phone" />
            <label for="floatingPhone" class="form-label">Phone</label>
            <div *ngIf="getControl('phone')?.touched && getControl('phone')?.errors?.['required']" class="text-danger">
              This field is required
            </div>
            <div
              *ngIf="getControl('phone')?.errors?.['minlength'] || getControl('phone')?.errors?.['maxlength'] || getControl('phone')?.errors?.['pattern']"
              class="text-danger">
              Enter a valid phone number
            </div>
          </div>
          <div class="form-floating mb-3" *ngIf="referral">
            <input type="text" class="form-control" id="floatingReferral" placeholder="Your referral code" ngModel
              name="referral" required />
            <label for="floatingReferral" class="form-label">Referral Code</label>
          </div>
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
              Already have an account?<button class="btn btn-link">
                <a routerLink="/">Login here</a>
              </button>
            </div>
            <button class="btn btn-primary btn-lg" type="submit" [disabled]="!registerForm.valid">
              Register
              <div class="spinner-border" role="status" *ngIf="isLoading">
                <span class="visually-hidden">Loading...</span>
              </div>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>