<div class="container-fluid">
    <div class="row container-row-height">
      <div class="col-lg-6 shadow" id="carousel">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
              <img src="../../../../assets/images/sign_in_page_Slider.svg" class="d-block w-100 mb-5" alt="..." />
              <div class="carousel-caption d-none d-md-block">
                <h5>Verification through hash with zero charges</h5>
                <p>
                  Direct revenue channel through payment link Instant verification
                  with real-time results
                </p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="../../../../assets/images/sign_in_page_Slider1.svg" class="d-block w-100 mb-5" alt="..." />
              <div class="carousel-caption d-none d-md-block">
                <h5>
                  Documents cannot be tampered with as their hashes are stored on
                  blockchain
                </h5>
                <p>Built on Blockchain Technology Fetches you quick results</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-lg-6 row align-items-center justify-content-center">
        <div class="col-xs-12 col-md-8 col-md-offset-3 h-75">
          <img src="../../../../assets/icons/certCheckLogoupdate.svg" class="img-fluid mb-5" alt="certCheckLogo" />
          <div *ngIf="!success">
        <form
        class="form"
          [formGroup]='changepasswordForm'
          (ngSubmit)="changepasswordForm.valid && onSubmit(changepasswordForm)">
         
          <p class="fs-2 fw-bolder">Change Password</p>
          <p class="fs-6 mb-2">Enter your information below</p>
            <div class="form-floating mb-1">
                <input
                  type="password"
                  class="form-control"
                  id="floatingPassword"
                  placeholder="New Password"
                  formControlName="newpassword"
                  />
                <label for="floatingPassword" class="form-label">New Password</label>
                <span *ngIf="changepasswordForm.get('newpassword')?.touched && changepasswordForm.get('newpassword')?.errors?.['required']" class="text-danger">This field is required</span>
                <div *ngIf="changepasswordForm.get('newpassword')?.errors?.['pattern']"
                class="text-danger"
                >Password must contain at least one number and one uppercase and
                  lowercase letter, and at least 8 or more characters
                </div>
              </div>
              <div class="form-floating mb-1">
                <input
                  type="password"
                  class="form-control"
                  id="floatingPassword"
                  placeholder="Confirm Password"
                  formControlName="confirmpassword"
                  />
                <label for="floatingPassword" class="form-label">Confirm Password</label>
                <span *ngIf="changepasswordForm.get('confirmpassword')?.touched && changepasswordForm.get('confirmpassword')?.errors?.['required']" class="text-danger">This field is required</span>
                <div
              *ngIf="changepasswordForm.get('confirmpassword')?.value && changepasswordForm.get('newpassword')?.value !== changepasswordForm.get('confirmpassword')?.value "
              class="text-danger">
              The Passwords do not match.
            </div>
              </div>
              <button
              class="btn btn-primary btn-lg"
              type="submit"
              [disabled]="!changepasswordForm.valid"
            >
              Reset
              <div class="spinner-border" role="status" *ngIf="isLoading">
                <span class="visually-hidden">Loading...</span>
              </div>
            </button>
          
        </form> 
      
  
        </div>
      </div>
    </div>
  </div>
  