<div class="container-fluid">
    <div class="row container-row-height">
      <div class="col-lg-6 shadow" id="carousel">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
              <img src="../../../../assets/images/sign_in_page_Slider.svg" class="d-block w-100 mb-5" alt="..." />
              <div class="carousel-caption d-none d-md-block">
                <h5>Verification through hash with zero charges</h5>
                <p>
                  Direct revenue channel through payment link Instant verification
                  with real-time results
                </p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="../../../../assets/images/sign_in_page_Slider1.svg" class="d-block w-100 mb-5" alt="..." />
              <div class="carousel-caption d-none d-md-block">
                <h5>
                  Documents cannot be tampered with as their hashes are stored on
                  blockchain
                </h5>
                <p>Built on Blockchain Technology Fetches you quick results</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-lg-6 row align-items-center justify-content-center">
        <div class="col-xs-12 col-md-8 col-md-offset-3 h-75">
          <img src="../../../../assets/icons/certCheckLogoupdate.svg" class="img-fluid mb-5" alt="certCheckLogo" />
  
  
          <form class="form" [formGroup]='forgetpassword' (ngSubmit)="forgetpassword.valid && onSubmit(forgetpassword)">
            <div *ngIf="!success">
            <p class="fs-2 fw-bolder ">Forgot Password</p>
            <p class="fs-6 mb-5">Enter your email and we will send a password reset link to it</p>
  
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingPassword" placeholder="name@example.com"
                formControlName="email" />
              <label for="floatingPassword" class="form-label">Email</label>
              <div *ngIf="forgetpassword.get('email')?.touched && forgetpassword.get('email')?.errors?.['required']"
                class="text-danger">Enter an email</div>
              <div *ngIf="forgetpassword.get('email')?.errors?.['pattern']" class="text-danger">
                Enter a valid email
              </div>
            </div>
            <div class="btn-grp">
              <div class="form-floating mb-3">
                <button class="btn btn-primary btn-lg" type="submit" [disabled]="!forgetpassword.valid"
                  style="margin:auto" >
                  Send
                  <div class="spinner-border" role="status" *ngIf="isLoading && !success">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </button>
                <button class="btn btn-outline-dark btn-lg" routerLink="/" style="margin: 15px;">Back</button>
              </div>
            </div>
            </div>
            <div *ngIf="success" >
              <span *ngIf="success">
                    <p class="fs-2 fw-bolder ">Email Sent!</p>
                    <p class="fs-6 mb-5">{{success}}</p>
                  </span>
            </div>
            <div *ngIf="error" class="alert alert-danger d-flex align-items-center alert-dismissible fade show"
              role="alert">
              <svg style="max-width: 5%" xmlns="http://www.w3.org/2000/svg"
                class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
                aria-label="Warning:">
                <path
                  d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
              </svg>
              <div>
                <span *ngIf="error">{{ error }}</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  